@layer set.components {
  :where(.set) .set-badge {
    --set-badge-color-background: var(--set-color-background-subtle);
    --set-badge-color-border: var(--set-color-foreground-prose);
    --set-badge-font-size: var(--set-typography-type-step-150-font-size);
    --set-badge-line-height: var(--set-typography-type-step-150-line-height);
    --set-badge-padding-inline: 0.57em;

    align-items: center;
    background-color: var(--set-badge-color-background);
    border-radius: calc(1lh * var(--set-radius-ratio-default));
    color: var(--set-color-foreground-prose);
    display: inline-flex;
    font-family: var(--set-typography-font-family-mono);
    font-size: var(--set-badge-font-size);
    font-weight: var(--set-typography-font-weight-regular-plus);
    inline-size: fit-content;
    line-height: var(--set-badge-line-height);
    outline: var(--set-layout-border-width-default) solid
      var(--set-badge-color-border);
    outline-offset: calc(-1 * var(--set-layout-border-width-default));
    padding-inline: var(--set-badge-padding-inline);

    :focus-visible > & {
      outline-color: var(--set-color-interactive-focus);
    }

    &[data-size="sm"] {
      --set-badge-font-size: var(--set-typography-type-step-50-font-size);
      --set-badge-line-height: var(--set-typography-type-step-50-line-height);
      --set-badge-padding-inline: 0.46em;
    }

    &[data-floating] {
      inset-block-start: 0;
      inset-inline-end: 0;
      position: absolute;
      transform: translate(33.33%, -33.33%);
    }

    &[data-tone="info"] {
      --set-badge-color-background: var(--set-color-status-info-subtle);
      --set-badge-color-border: var(--set-color-status-info-default);
    }

    &[data-tone="success"] {
      --set-badge-color-background: var(--set-color-status-success-subtle);
      --set-badge-color-border: var(--set-color-status-success-default);
    }

    &[data-tone="warning"] {
      --set-badge-color-background: var(--set-color-status-warning-subtle);
      --set-badge-color-border: var(--set-color-status-warning-default);
    }

    &[data-tone="error"] {
      --set-badge-color-background: var(--set-color-status-error-subtle);
      --set-badge-color-border: var(--set-color-status-error-default);
    }
  }

  a:has(> :where(.set-badge[data-floating]:last-child)),
  button:has(> :where(.set-badge[data-floating]:last-child)) {
    position: relative;
  }
}
