@layer set.components {
  :where(.set) .set-divider {
    border: none;
    border-block-start: var(--set-layout-border-width-default) solid
      var(--set-color-border-default);
    margin: 0;

    &[aria-orientation="vertical"] {
      align-self: stretch;
      border-block-start: none;
      border-inline-start: var(--set-layout-border-width-default) solid
        var(--set-color-border-default);
    }

    &[data-tone="subtle"] {
      border-color: var(--set-color-border-subtle);
    }

    &[data-tone="brand"] {
      background: repeating-linear-gradient(
        to right,
        var(--set-color-border-strong) 0
          calc(var(--set-layout-divider-brand-thickness) / 2),
        transparent calc(var(--set-layout-divider-brand-thickness) / 2)
          var(--set-layout-divider-brand-thickness)
      );
      block-size: var(--set-layout-divider-brand-thickness);
      border: none;
      inline-size: var(--set-layout-divider-brand-size);

      &[aria-orientation="vertical"] {
        background: repeating-linear-gradient(
          to bottom,
          var(--set-color-border-strong) 0
            var(--set-layout-divider-brand-thickness),
          transparent var(--set-layout-divider-brand-thickness)
            calc(var(--set-layout-divider-brand-thickness) * 2)
        );
        display: inline-block;
        inline-size: calc(var(--set-layout-divider-brand-thickness) / 2);
        min-block-size: calc(var(--set-layout-divider-brand-thickness) * 3);
        vertical-align: middle;
      }
    }
  }
}
