@layer set.components {
  :where(.set) .set-shape {
    --set-shape-aspect-ratio: 1 / 1;
    --set-shape-block-size-base: var(--set-shape-corner-block-size);
    --set-shape-block-size: calc(var(--set-shape-block-size-base) / 5);
    --set-shape-image: var(--set-shape-corner-image);
    --set-shape-tone: var(--set-color-foreground-default);

    aspect-ratio: var(--set-shape-aspect-ratio);
    background-color: var(--set-shape-tone);
    block-size: var(--set-shape-block-size);
    mask-image: var(--set-shape-image);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;

    &[data-tone="brand"] {
      --set-shape-tone: var(--set-color-brand-primary);
    }

    &[data-tone="support"] {
      --set-shape-tone: var(--set-color-brand-support);
    }

    &[data-tone="neutral"] {
      --set-shape-tone: var(--set-color-logo-neutral);
    }

    &[data-variant="corner"] {
      --set-shape-block-size-base: var(--set-shape-corner-block-size);
      --set-shape-image: var(--set-shape-corner-image);
    }

    &[data-variant="tile-lg"] {
      --set-shape-block-size-base: var(--set-shape-tile-lg-block-size);
      --set-shape-image: var(--set-shape-tile-lg-image);
    }

    &[data-variant="tile-slice-lg"] {
      --set-shape-block-size-base: var(--set-shape-tile-slice-lg-block-size);
      --set-shape-image: var(--set-shape-tile-slice-lg-image);
    }

    &[data-variant="tile-sm"] {
      --set-shape-block-size-base: var(--set-shape-tile-sm-block-size);
      --set-shape-image: var(--set-shape-tile-sm-image);
    }

    &[data-variant="tile-slice-sm"] {
      --set-shape-block-size-base: var(--set-shape-tile-slice-sm-block-size);
      --set-shape-image: var(--set-shape-tile-slice-sm-image);
    }

    &[data-variant="circle-lg"] {
      --set-shape-block-size-base: var(--set-shape-circle-lg-block-size);
      --set-shape-image: var(--set-shape-circle-lg-image);
    }

    &[data-variant="circle-sm"] {
      --set-shape-block-size-base: var(--set-shape-circle-sm-block-size);
      --set-shape-image: var(--set-shape-circle-sm-image);
    }

    &[data-size="xs"] {
      --set-shape-block-size: calc(var(--set-shape-block-size-base) / 20);
    }

    &[data-size="sm"] {
      --set-shape-block-size: calc(var(--set-shape-block-size-base) / 10);
    }

    &[data-size="lg"] {
      --set-shape-block-size: calc(var(--set-shape-block-size-base) / 4);
    }

    &[data-size="xl"] {
      --set-shape-block-size: calc(var(--set-shape-block-size-base) / 2);
    }

    &[data-size="fill"] {
      block-size: 100%;
    }
  }
}
