@layer set.components {
  :where(.set) .set-avatar {
    --set-avatar-size: var(--set-spacing-vertical-700);
    --set-avatar-color-background: var(--set-color-avatar-default);

    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--set-avatar-color-background);
    block-size: var(--set-avatar-size);
    border-radius: calc(var(--set-avatar-size) * var(--set-radius-ratio-lg));
    color: var(--set-color-foreground-contrast);
    display: inline-flex;
    flex: none;
    justify-content: center;
    outline: var(--set-layout-border-width-default) solid
      var(--set-color-border-subtle);
    overflow: hidden;

    &[data-entity="bot"],
    &[data-entity="organization"],
    &[data-entity="team"] {
      border-radius: calc(
        var(--set-avatar-size) * var(--set-radius-ratio-default)
      );
    }

    &[data-size="sm"] {
      --set-avatar-size: var(--set-spacing-vertical-775);
    }

    &[data-size="md"] {
      --set-avatar-size: var(--set-spacing-vertical-800);
    }

    &[data-size="lg"] {
      --set-avatar-size: var(--set-spacing-vertical-900);
    }

    &[data-size="xl"] {
      --set-avatar-size: var(--set-spacing-vertical-1200);
    }

    &[data-color="01"] {
      --set-avatar-color-background: var(--set-color-avatar-01);
    }

    &[data-color="02"] {
      --set-avatar-color-background: var(--set-color-avatar-02);
    }

    &[data-color="03"] {
      --set-avatar-color-background: var(--set-color-avatar-03);
    }

    &[data-color="04"] {
      --set-avatar-color-background: var(--set-color-avatar-04);
    }

    &[data-color="05"] {
      --set-avatar-color-background: var(--set-color-avatar-05);
    }

    &[data-color="06"] {
      --set-avatar-color-background: var(--set-color-avatar-06);
    }

    &[data-color="07"] {
      --set-avatar-color-background: var(--set-color-avatar-07);
    }

    &[data-color="08"] {
      --set-avatar-color-background: var(--set-color-avatar-08);
    }

    &[data-color="09"] {
      --set-avatar-color-background: var(--set-color-avatar-09);
    }

    .img {
      background-color: var(--set-color-background-subtle);
      block-size: 100%;
      filter: grayscale(var(--set-effect-filter-image));
      inline-size: 100%;
      object-fit: cover;
    }

    .initials {
      font-size: calc(var(--set-avatar-size) * 0.5);
      font-stretch: var(--set-typography-font-stretch-condensed);
      font-weight: var(--set-typography-font-weight-bold);
      line-height: 1;
      position: relative;
      text-align: center;
    }

    /* Size 70%, rounded to even number pixels (as rem) to avoid sub-pixel rounding issues */
    .icon-wrapper {
      align-items: center;
      aspect-ratio: 1 / 1;
      block-size: 1rem;
      display: inline-flex;
      justify-content: center;

      [data-size="sm"] & {
        block-size: 1.25rem;
      }

      [data-size="md"] & {
        block-size: 1.625rem;
      }

      [data-size="lg"] & {
        block-size: 2.125rem;
      }

      [data-size="xl"] & {
        block-size: 4.25rem;
      }
    }
  }

  a:has(> :where(.set-avatar:first-child)):focus-visible,
  button:has(> :where(.set-avatar:first-child)):focus-visible {
    outline: none;

    .set-avatar {
      outline-color: var(--set-color-interactive-focus);
      outline-offset: var(--set-layout-focus-ring-offset-default);
      outline-width: var(--set-layout-focus-ring-width);
    }
  }

  button:has(> :where(.set-avatar:first-child)) {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}
