@layer set.components {
  :where(.set) .set-text {
    --set-text-font: var(--set-typography-text-body-md-font);

    color: var(--set-color-foreground-prose);
    font: var(--set-text-font);
    font-variation-settings: var(
      --set-typography-font-variation-settings-default
    );
    margin: 0;

    &[data-monospaced] {
      --set-word-spacing: var(--set-typography-word-spacing-monospaced);
    }

    &[data-size="xs"] {
      --set-text-font: var(--set-typography-text-body-xs-font);
    }

    &[data-size="sm"] {
      --set-text-font: var(--set-typography-text-body-sm-font);
    }

    &[data-size="lg"] {
      --set-text-font: var(--set-typography-text-body-lg-font);
    }

    &[data-responsive] {
      --set-text-font: var(--set-typography-text-body-responsive-md-font);

      &[data-size="xs"] {
        --set-text-font: var(--set-typography-text-body-responsive-xs-font);
      }

      &[data-size="sm"] {
        --set-text-font: var(--set-typography-text-body-responsive-sm-font);
      }

      &[data-size="lg"] {
        --set-text-font: var(--set-typography-text-body-responsive-lg-font);
      }
    }

    &[data-align="center"] {
      margin-inline: auto;
      text-align: center;
    }

    &[data-align="end"] {
      margin-inline-start: auto;
      text-align: end;
    }

    &[data-measured] {
      max-inline-size: var(--set-typography-measure-default);

      &[data-size="lg"] {
        max-inline-size: var(--set-typography-measure-tight);
      }
    }

    &[data-tone="muted"] {
      color: var(--set-color-foreground-muted-text);
    }

    & a {
      color: var(--set-color-interactive-prose-default);
      text-decoration-line: var(
        --set-typography-prose-link-default-decoration-line
      );
      text-decoration-thickness: var(
        --set-typography-prose-link-default-decoration-thickness
      );
      text-underline-offset: var(
        --set-typography-prose-link-default-decoration-offset
      );
    }

    & a:visited {
      color: var(--set-color-interactive-prose-visited);
    }

    &[data-link-visited="off"] a:visited {
      color: var(--set-color-interactive-prose-default);
    }

    & a:hover {
      color: var(--set-color-interactive-prose-hover);
      text-decoration-color: var(
        --set-color-interactive-prose-hover-decoration
      );
      text-decoration-line: var(
        --set-typography-prose-link-hover-decoration-line
      );
      text-underline-offset: var(
        --set-typography-prose-link-hover-decoration-offset
      );
    }

    & a:active {
      color: var(--set-color-interactive-prose-active);
      text-decoration-color: var(
        --set-color-interactive-prose-active-decoration
      );
      text-underline-offset: var(
        --set-typography-prose-link-active-decoration-offset
      );
    }

    & code {
      --set-word-spacing: var(--set-typography-word-spacing-monospaced);

      background-color: var(--set-color-background-subtle);
      border-radius: calc(
        var(--set-typography-metric-default-cell-height) *
          var(--set-radius-ratio-default)
      );
      outline: var(--set-layout-border-width-default) solid
        var(--set-color-border-default);
      padding-block-end: var(--set-typography-metric-default-cap-balance);
      padding-inline: var(--set-typography-metric-default-side-bearing-single);
    }
  }
}
