/* stylelint-disable scale-unlimited/declaration-strict-value -- @font-face font-weight is a font-file descriptor not a typographic styling */
@font-face {
  font-display: swap;
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  src: url("./fonts/InterVariable.subset.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  src: url("./fonts/InterVariable-Italic.subset.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100 700;
  src: url("./fonts/RobotoMono-VariableFont_wght.subset.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 100 700;
  src: url("./fonts/RobotoMono-Italic-VariableFont_wght.subset.woff2")
    format("woff2");
}

@font-face {
  descent-override: 15%;
  font-display: swap;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  size-adjust: 105%;
  src: url("./fonts/FantasqueSansMono-Regular.subset.woff2") format("woff2");
}

@font-face {
  descent-override: 45%;
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 100 800;
  src: url("./fonts/PlaypenSans[wght].subset.woff2") format("woff2");
}
